@page
@model KoiFarmShop.WebApp.Pages.Staff.CreateModel

@{
	ViewData["Title"] = "Create KoiFish";
}

<h4>Create KoiFish</h4>
<hr />
<div class="row">
	<div class="col-md-4">
		<form method="post" enctype="multipart/form-data">
			  <div asp-validation-summary="ModelOnly" class="text-danger"></div>
			<div class="form-group">
				<label for="koiName">Koi Fish Name</label>
				<input type="text" id="koiName" name="KoiFish.Name" class="form-control" required />
			</div>

			<div class="form-group">
				<label for="description">Description</label>
				<textarea id="description" name="KoiFish.Description" class="form-control" required></textarea>
			</div>

			<div class="form-group">
				<label for="dob">Date of Birth</label>
				<input type="date" id="dob" name="KoiFish.Dob" class="form-control" />
			</div>

			<div class="form-group">
				<label for="price">Price</label>
				<input type="number" id="price" name="KoiFish.Price" class="form-control" step="0.01" />
			</div>
			
			<div class="form-group">
				<label for="koiImage" class="form-label">Koi Image</label>
				<input type="file" asp-for = "KoiImage" id="koiImage" class="form-input" />
			</div>

			<label for="statusConsignment" class="form-label me-2 mb-0">Status:</label>
			<select name="statusConsignment" id="statusConsignment" class="form-select w-auto me-2">
				<option value="ALL">Tất cả</option>
				<option value="PENDING">Kohaku</option>
				<option value="REJECTED">Sanke</option>
				<option value="APPROVED">Showa</option>
				<option value="CONFIRMED">Ogon</option>
				<option value="CANCELLED">Chagoi</option>
			</select>
			<div class="form-group">
				<input type="submit" value="Create" class="btn btn-primary" />
			</div>
		</form>
	</div>
</div>

<div>
	<a asp-page="Index">Back to List</a>
</div>

